useDynLib(EMMIXmcfa, cgmf)
export(gmf)

export(plot_factors)
exportMethods(summary)
export(err)
export(ari)
exportMethods(print)
export(mcfa)
export(mctfa)
export(rmcfa)
export(rmctfa)
export(factor_scores)
S3method(mcfa, default)
S3method(mctfa, default)
S3method(plot, emmix)
S3method(predict, mcfa)
S3method(predict, mctfa)
S3method(print, mcfa)
S3method(print, mctfa)
S3method(summary, emmix)
S3method(factor_scores, mcfa)
S3method(factor_scores, mctfa)
importFrom("graphics", "axis", "pairs", "plot")
importFrom("stats", "var", "cov", "kmeans", "mahalanobis", "rnorm", "runif", "uniroot")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("utils", "capture.output")
